<template name="lecf-details">
    <a href="/work">
      <div class="back-btn">
        <img src="../images/icons/arrow.svg" alt="Back">
      </div>
    </a>

    <div class="wrapper container">
        <div class="project-detail-title">
            <p>Project Details</p>
            <div class="underline"></div>
        </div>

        <div class="details-header">
            <div class="row">
                <div class="col-md-6">
                    <img src="../images/devices/macbook-lecf.png" alt="LECF Results" />
                </div>
                <div class="col-md-6">
                    <div class="details-title">
                        <h1>Law Enforcement Charitable Foundation</h1>
                        <p>Launched in 2016</p>
                        <div class="btn-wrapper">
                            <div class="btn">Visit</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Goal project detail section -->
        <div class="offset-wrapper">
            <h2>The Goal</h2>
            <div class="underline red"></div>
            <div class="text-wrapper">
                <div class="text">
                    The most beautiful experience we can have is the mysterious. It is the fundamental emotion that stands at the cradle of true art and true science.” Albert Einstein, The World as I See It, 1931 The debate between realism and anti-realism is, at least, a century old. Does Science describe the real world – or are its theories true only within a certain conceptual framework? Is science only instrumental or empirically adequate or is there more to it than that? The current – mythological – image of scientific enquiry is as follows: Without resorting to reality, one can, given infinite time and resources, produce all conceivable theories. One of these theories is bound to be the “truth”. To decide among them, scientists conduct experiments and compare their results to predictions yielded by the theories. A theory is falsified when one or more of its predictions fails.
                </div>
            </div>
        </div>
        <!-- Strategy project details section -->
        <div class="offset-wrapper white">
            <h2>Our Strategy</h2>
            <div class="underline red"></div>
            <div class="text-wrapper">
                <div class="text">
                    The most beautiful experience we can have is the mysterious. It is the fundamental emotion that stands at the cradle of true art and true science.” Albert Einstein, The World as I See It, 1931 The debate between realism and anti-realism is, at least, a century old. Does Science describe the real world – or are its theories true only within a certain conceptual framework? Is science only instrumental or empirically adequate or is there more to it than that? The current – mythological – image of scientific enquiry is as follows: Without resorting to reality, one can, given infinite time and resources, produce all conceivable theories. One of these theories is bound to be the “truth”. To decide among them, scientists conduct experiments and compare their results to predictions yielded by the theories. A theory is falsified when one or more of its predictions fails.
                </div>
            </div>
        </div>
        <!-- Result project details section -->
        <div class="offset-wrapper">
            <h2>The Results</h2>
            <div class="underline red"></div>
            <div class="text-wrapper">
                <div class="text">
                    The most beautiful experience we can have is the mysterious. It is the fundamental emotion that stands at the cradle of true art and true science.” Albert Einstein, The World as I See It, 1931 The debate between realism and anti-realism is, at least, a century old. Does Science describe the real world – or are its theories true only within a certain conceptual framework? Is science only instrumental or empirically adequate or is there more to it than that? The current – mythological – image of scientific enquiry is as follows: Without resorting to reality, one can, given infinite time and resources, produce all conceivable theories. One of these theories is bound to be the “truth”. To decide among them, scientists conduct experiments and compare their results to predictions yielded by the theories. A theory is falsified when one or more of its predictions fails.
                </div>
            </div>
        </div>
    </div>
</template>
