<template name="Footer">
    <div id="contact" class="container-fluid">
    <h1 style="text-align: left; margin-bottom: 15px; margin-left: 12px;
            font-family: 'robotothin', san-serif; pointer-events: none;">Say hello.</h1>
<!-- EMAIL LINK -->
    <div class="container-fluid contact">
        <div class="row">
            <div class="col-sm-4 contact-info">
                <h4 class="contact-title">General Inquiries</h4>
                <a class="typeform-share link" href="https://dotolodylan2.typeform.com/to/GyUyZx" data-mode="1" target="_blank">
                    <span class="email social-media-item">info@alphacoredesign.com</span>
                </a>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            </div>
            <div class="col-sm-4 contact-info">
                <h4 class="contact-title">Follow Us</h4>
                <ul class="social-media">
                    <!-- INSTAGRAM LINK -->
                    <div class="yt-link">
                        <a href="https://instagram.com/alphacoredesign/" target="_blank">
                            <li class="social-media-item">Instagram</li>
                        </a>
                    </div>
                    <!-- FACEBOOK LINK -->
                    <div class="social-media">
                        <a href="https://www.facebook.com/alphacoredesign" target="_blank">
                            <li class="social-media-item">Facebook</li>
                        </a>
                    </div>
                    <!-- TWITTER LINK -->
                    <div class="social-media">
                        <a href="https://twitter.com/AlphaCoreDesign" target="_blank">
                            <li class="social-media-item">Twitter</li>
                        </a>
                    </div>
                </ul>
            </div>
            <div class="col-sm-4 contact-logo">
                <img src="../images/wolf.jpg" height="170px" width="170px">
            </div>
        </div>
</div>

    </div>
</template>
