<template name="footer">
    <div class="footer">
        <div class="top-btn-wrapper">
            <a href="#" style="z-index: 2;">
                <div class="top-btn">
                    <img src="../images/icons/up-arrow.svg" alt="up" />
                </div>
            </a>
        </div>
        <div class="footer-wrapper">
            <img src="../images/icons/wolf.svg" alt="AlphaCore " />
            <div class="social">
              <a href="https://www.facebook.com/alphacoredesign" target="_blank">
                <div class="facebook"><img src="../images/icons/facebook.svg" alt="AlphaCore Facebook"></div>
              </a>
            </div>
        </div>
    </div>
</template>
