<template name="header">
  <div class="header-wrapper">

    <div id="mobile">
      <div id="menu">
        <img src="../images/icons/menu.svg" alt="Menu">
      </div>

      <div id="mobile-nav">
        <a href="/"><div class="nav-item">Home</div></a>
        <a href="/work"><div class="nav-item">Work</div></a>
        <!-- <a href="/about"><div class="nav-item">About</div></a> -->
        <a href="/contact"><div class="nav-item">Contact</div></a>
      </div>
    </div>

    <div class="logo">
      <img src="../images/icons/wolf.svg" alt="AlphaCore">
      <h1>Alpha<strong class="core">Core</strong></h1>
    </div>

    <div class="nav">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/work"><li>Work</li></a>
        <!-- <a href="/about"><li>About</li></a> -->
        <a href="/contact"><li>Contact</li></a>
      </ul>
    </div>

  </div>
</template>
