<template name="projectHome">
  <div class="project-home">

    <div class="projects">

      <div class="project-card project-1">
        <a href="https://thedesignco.io/#/" target="_blank">
            <div class="project-img" style="background-image: url('../images/designco.png')">image</div>
            <h2>The Design Co.</h2>
            <div class="category">
                <img src="../images/icons/design.svg" alt="Design" />
                <img src="../images/icons/development.svg" alt="Development" />
            </div>
            <div class="view-btn">View</div>
        </a>
      </div>

      <div class="project-card project-2">
        <a href="http://www.lecf-inc.com/" target="_blank">
            <div class="project-img" style="background-image: url('../images/lecf.png')">image</div>
            <h2>Law Enforcement Charitable Foundation</h2>
            <div class="category">
                <img src="../images/icons/development.svg" alt="Development" />
                <img src="../images/icons/marketing.svg" alt="Marketing" />
            </div>
            <div class="view-btn">View</div>
        </a>
      </div>

      <div class="project-card project-3">
        <a href="http://txpoolandspa.com/" target="_blank">
            <div class="project-img" style="background-image: url('../images/txpoolspa.png')">image</div>
            <h2>Texas Pool and Spa</h2>
            <div class="category">
                <img src="../images/icons/development.svg" alt="Development" />
                <img src="../images/icons/design.svg" alt="Design" />
            </div>
            <div class="view-btn">View</div>
        </a>
      </div>

    </div>

  </div>
</template>
