<template name="Blog">
    <div class="intro-title animated fadeInLeft">
        <h1>We like to express ourselves from time to time.</h1>
    </div>
    <div class="container-fluid offset blog-wrapper">
        {{> blogAdmin}}
        <div class="blog">
            <div class="blog-item">
                <div class="tags">
                    <img src="../images/tag.svg" alt="tag"/>
                    <p>Wanderlust</p>
                </div>
                <div class="blog-title">
                    <h2>Living the adventure</h2>
                    <p>May 31, 2016</p>
                </div>
                <div class="cover-photo">
                    <span>cover photo</span>
                </div>
                <div class="excerpt">
                    <p>
                        Life is short and you only get one.
                        So you should take advantage and live to fulfill
                        your dreams....
                    </p>
                </div>
                <div class="read-more">
                    <p>Read more...</p>
                </div>
                <div class="like">
                    <img src="../images/like.svg"/>
                    <p>117</p>
                </div>
            </div>
            <div class="blog-item">
                <div class="tags">
                    <img src="../images/tag.svg" alt="tag"/>
                    <p>Wanderlust</p>
                </div>
                <div class="blog-title">
                    <h2>Living the adventure</h2>
                    <p>May 31, 2016</p>
                </div>
                <div class="cover-photo">
                    <span>cover photo</span>
                </div>
                <div class="excerpt">
                    <p>
                        Life is short and you only get one.
                        So you should take advantage and live to fulfill
                        your dreams....
                    </p>
                </div>
                <div class="read-more">
                    <p>Read more...</p>
                </div>
                <div class="like">
                    <img src="../images/like.svg"/>
                    <p>117</p>
                </div>
            </div>
        </div>
    </div>
</template>
