<template name="Contact">
    <div class="intro-title">
        <h1>Want to chat with us?</h1>
    </div>
    <div class="container email">
        <h2>Shoot us an Email</h2>
        <div class="divider"></div>
            <div class="email-wrapper">
                <a class="typeform-share link" href="https://dotolodylan2.typeform.com/to/GyUyZx" data-mode="1" target="_blank">
                    <p>Click Me!! =)</p>
                </a>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            </div>

        <!-- <div class="form-group">
            <label for="InputName">Name</label>
            <input type="name" class="form-control" id="InputName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="InputEmail">Email Address</label>
            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="InputText">Message</label>
            <textarea class="form-control" rows="5"></textarea>
        </div> -->
    </div>
</template>
