<template name="Development">
    <div class="intro-title center animated fadeInUp">
        <h1>Development</h1>
        <img src="../images/dev-icon.svg" />
    </div>
    <div class="container-fluid">
        <div class="section offset animated fadeInUp">
            <div class="row padding">
                <div class="col-md-4 desing-images">
                    <img src="../images/goingremote.png" width="100%" />
                </div>
                <div class="col-md-4 desing-images">
                    <img src="../images/portfolio.png" width="100%"  />
                </div>
                <div class="col-md-4 desing-images">
                    <img src="../images/tx-pool-spa.png"  width="100%" />
                </div>
            </div>
        </div>
        <div class="section">
            <div class="intro-text big">
                <p>
                    We are hands on and build each product from scratch. This is
                    were we make the ideas come to life!
                </p>
                <div class="list">
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>Front-End Development</h2>
                    </div>
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>Web Applications</h2>
                    </div>
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>E-Commerce</h2>
                    </div>
                </div>
                <div class="cta">
                    <a class="typeform-share link" href="https://dotolodylan2.typeform.com/to/GyUyZx" data-mode="1" target="_blank"><h3>Free Quote</h3></a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                </div>
            </div>
        </div>
    </div>
</template>
