<template name="home">
    <div class="intro-title animated fadeInLeft">
        <h1>We move quickly from talking to doing.</h1>
    </div>
    <div class="container-fluid">
        <div class="section offset">
            <div class="title animated fadeInUp">
                <h2>Design</h2>
                <img src="../images/design-icon.svg" />
            </div>
            <div class="intro-text animated fadeInUp">
                <p>
                    The first thing a user see’s is the design, it is a key to a successful product.
                    So we seek to design rememberable experiences and interactions with the users.
                </p>
            </div>
            <div class="cta">
                <a href="/design" target="_top">
                    <h3>Design</h3>
                </a>
            </div>
        </div>
        <div class="section">
            <div class="title">
                <h2>Development</h2>
                <img src="../images/dev-icon.svg" />
            </div>
            <div class="intro-text">
                <p>
                    The next thing a user notices is performance. We build our products on
                    the latest technologies, so users can seemlessly interact with the product.
                </p>
            </div>
            <div class="cta">
                <a href="/development" target="_top">
                    <h3>Development</h3>
                </a>
            </div>
        </div>
        <div class="section offset">
            <div class="title">
                <h2>Marketing</h2>
                <img src="../images/marketing-icon-offset.svg" />
            </div>
            <div class="intro-text">
                <p>
                    Finally it is time to share it with the users. We take the product
                    and create connections between the brand and its users.
                </p>
            </div>
            <div class="cta">
                <a href="/marketing" target="_top">
                    <h3>Marketing</h3>
                </a>
            </div>
        </div>
    </div>
</template>
