<template name="HomeLayout">
    {{> Header}}
    <main>
        <div class="header-home">
            <div class="landingpage-title">
                <img src="../images/wolf.jpg" class="brand-img" width="120px" height="135px">
                <!-- <span class="landing-title">Alpha<strong class="dev">Core</strong></span> -->
            </div>
            <div class="intro-text">
                <h1>We Make The Complex <span class="gold-text">Simple</span>.</h1>
                <div class="landing-cta">
                    <a href="/home" target="_top"><h3>Let's Work Together</h3></a>
                </div>
            </div>
            <div class="faint-text">
                <h2>A Digital Creative Agency</h2>
            </div>
        </div>
    </main>
</template>
