<template name="Marketing">
    <div class="intro-title center animated fadeInUp">
        <h1>Marketing</h1>
        <img src="../images/marketing-icon.svg" />
    </div>
    <div class="container-fluid">
        <div class="section offset marketing-banner animated fadeInUp">
            <span>Marketing</span>
        </div>
        <div class="section">
            <div class="intro-text big">
                <p>
                    We engage the target audience and initiate participation.
                    Increasing brand awareness.
                </p>
                <div class="list">
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>Content Strategy & Copywriting</h2>
                    </div>
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>Social Network Marketing</h2>
                    </div>
                    <div class="item">
                        <img src="../images/checkmark.svg" />
                        <h2>E-mail Marketing</h2>
                    </div>
                </div>
                <div class="cta">
                    <a class="typeform-share link" href="https://dotolodylan2.typeform.com/to/GyUyZx" data-mode="1" target="_blank"><h3>Free Quote</h3></a>
                    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                </div>
            </div>
        </div>
    </div>
</template>
