<template name="Packages">
    <div class="intro-title">
        <h1>We move quickly from talking to doing.</h1>
    </div>
    <div class="container-fluid package-list">
        <h1>Packages</h1>
        <div class="row">
            <div class="col-md-4 packages">
                <h2>Alpha</h2>
                <div class="padding">
                    <ul>
                        <li>6+ Pages</li>
                        <li>Domain Name</li>
                        <li>Developed from scratch</li>
                        <li>Google Analytics</li>
                        <li>Search Engine Optimization</li>
                        <li>Site Maintenance</li>
                        <li>2 mockup / 3 revisions</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 packages">
                <div class="padding">
                    <h2>Beta</h2>
                    <ul>
                        <li>6 Pages</li>
                        <li>Domain Name</li>
                        <li>Template based</li>
                        <li>Google Analytics</li>
                        <li>Search Engine Optimization</li>
                        <li>1 mockup / 2 revisions</li>
                        <li>-</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 packages">
                <div class="padding">
                    <h2>Omega</h2>
                    <ul>
                        <li>4 Pages</li>
                        <li>Domain Name</li>
                        <li>Template based</li>
                        <li>1 mockup / 1 revision</li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Extra things we offer section -->
    <div class="container extra-offers">
        <h2>We also offer:</h2>
        <div class="row">
            <div class="col-md-6 extra">
                <h3>Search Engine Optimization</h3>
            </div>
            <div class="col-md-6 extra">
                <h3>Marketing</h3>
            </div>
            <div class="col-md-6 extra">
                <h3>Site Maintenance</h3>
            </div>
            <div class="col-md-6 extra">
                <h3>Graphic Design</h3>
            </div>
        </div>
    </div>
</template>
