<template name="Work">
    <div class="intro-title animated fadeInLeft">
        <h1>Take a look at what we've done.</h1>
    </div>
    <div class="container-fluid offset">
        <div class="row">
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="http://goingremote.io" target="_blank" data-color="#966BDE" >
                        <div class="work-info">
                            <h2>Find remote jobs</h2>
                            <h3>GoingRemote.io</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="goingremote" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/goingremote.png" alt="goingremote" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31661873/Day-014-of-my-daily-UI-challenge" target="_blank" data-color="#EB3328">
                        <div class="work-info">
                            <h2>Countdown timer</h2>
                            <h3>StarWars</h3>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_014.png" alt="StarWars" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="http://wearedreamboats.com/" target="_blank" data-color="#A54170">
                        <div class="work-info">
                            <h2>River floating made better</h2>
                            <h3>dreamboats</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="dreamboats" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/dreamboat.png" alt="dreamboats" width="100%" />"
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="http://txpoolandspa.com/" target="_blank" data-color="#00AAF2">
                        <div class="work-info">
                            <h2>A family business, dedicted to your family's fun</h2>
                            <h3>Texas pool & spa</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="goingremote" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/txpoolspa.png" alt="goingremote" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31768891/Day-018-of-my-daily-UI-challenge" target="_blank" data-color="#22B0EC">
                        <div class="work-info">
                            <h2>Health & Fitness</h2>
                            <h3>Bodybuilding</h3>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_018.png" alt="Fitness Tracker       " width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="http://www.galleriaonthird.com/" target="_blank" data-color="#79122D">
                        <div class="work-info">
                            <h2>Museum Quality & Custom Framing</h2>
                            <h3>Galleria on 3rd</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="goingremote" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/galleria.png" alt="goingremote" width="100%" />"
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31162079/Daily-UI-Challenge-Day-003" target="_blank" data-color="#017042">
                        <div class="work-info">
                            <h2>Love, Joy, & Spice</h2>
                            <h3>Starbucks</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="goingremote" width="50px"/>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_003.png" alt="starbucks" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31684967/Day-016-of-my-daily-UI-challenge" target="_blank" data-color="#CE8456">
                        <div class="work-info">
                            <h2>Music is the key</h2>
                            <h3>Music Player</h3>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_009.png" alt="music" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31124333/Daily-UI-Challenge-Day-002" target="_blank" data-color="#FF9B24">
                        <div class="work-info">
                            <h2>Ordering a personal assistant</h2>
                            <h3>Amazon</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="amazon" width="50px"/>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_002.png" alt="amazon" width="100%" />"
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="http://dylandotolo.com" target="_blank" data-color="#00A6F7">
                        <div class="work-info">
                            <h2>Show them who you are</h2>
                            <h3>Portfolio</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="goingremote" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/profile.png" alt="goingremote" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.behance.net/gallery/31684967/Day-016-of-my-daily-UI-challenge" target="_blank" data-color="#985EB4">
                        <div class="work-info">
                            <h2>The Italian Greyhound</h2>
                            <h3>Voting</h3>
                            <img class="category-icon" src="../images/design-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/design/Day_016.png" alt="Bella" width="100%" />"
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-item">
                    <a class="work-link" href="https://www.raw-complexions.com.au/" target="_blank" data-color="#A9A9A9">
                        <div class="work-info">
                            <h2>Women of Influence & Beauty</h2>
                            <h3>Raw Complexions</h3>
                            <img class="fav-icon" src="../images/goingremote.svg" alt="dreamboats" width="50px"/>
                            <img class="category-icon" src="../images/dev-icon.svg" />
                        </div>
                    </a>
                    <img src="../images/work/rawcomplextion.png" alt="dreamboats" width="100%" />"
                </div>
            </div>
        </div>
    </div>
</template>
